@import "tailwindcss";

.navLinksColors {
  border-color: #3D8D7A;
  color: black;
  background-color: white;
}

.navLinksStyle {
  border-width:2px;
  border-radius: 10px 100px / 120px;
  border-style: solid;
}

.navLinksColors:hover {
  color:#3D8D7A;
}

